@import "~bootstrap/scss/bootstrap.scss";

.traffic {
    width: 25px;
    height: 165px;
    background: black;
    border-style: solid;
    text-align: center;
    margin: auto;


}
.body {
    width: 110px;
    height: 310px;
    background: orange;
    border-style: solid;
    margin: auto;

    border-radius: 25px;
}

.light {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  &.red{background-color: red; }
  &.yellow{background-color: yellow;}
  &.green{background-color: green;}
  &.selected{box-shadow: #f8ffcc 0px 0px 80px 60px;};



}